* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: #757575;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    width: 80%;
    margin: 10px auto;
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.12);
}

header {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    color: #222;
    background-color: #d1f3fa;
    text-align: center;
}

header h1 {
    display: inline-block;
    color: #222;
    margin: 1rem auto;
}

/* form */

.drawing-Data-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    background-color: #FAFAFA;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.drawing-Data-form .setData {
    flex-grow: 1;
    text-align: center;
    font-size: 1rem;
    border: 5px solid #d1f3fa;
    background-color: #ffffff;
    padding: 1em;
}

.drawing-Data-form:nth-child(4), .drawing-Data-form:nth-child(5) {
    width: 50%;
    align-self: stretch;
}

.drawing-Data-form input {
    outline: none;
    width: 50px;
}

.drawing-Data-form input:focus {
    border: 1px solid #56e3ff;
}

button {
    background-color: #FAFAFA;
    color: #222;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin: 0.2rem auto;
}

button:hover {
    background-color: #d1f3fa;
}

.canvas-container {
    height: 495px;
    width: 100%;
    border: 5px solid #d1f3fa;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                0 3px 1px -2px rgba(0,0,0,.2),
                0 1px 5px 0 rgba(0,0,0,.12);
}
